<div class="row">
  <div class="col-md-12">
    <div class="experience-thumb">

      <p *ngIf="!forecasts"><em>Loading...</em></p>
      <div class="row mt-3">
        <div class="col">
          <h1>Profesional And Freelance Jobs</h1>

          <div class="form-group">
            Filter by Name And Type<input type="text" (keyup)="applyFilter($event)">
          </div>

          <div class="table-responsive">
            <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="forecasts">
              <thead>
                <tr>
                  <th>Company</th>
                  <th>Type</th>
                  <th>Duration</th>
                  <th>Summary</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let forecast of forecasts">
                  <td>{{ forecast.name }}</td>
                  <td>{{ forecast.type }}</td>
                  <td>{{ forecast.duration }}</td>
                  <td>
                    <button id="showprofesionalbutton" class="btn btn-default" (click)="open(forecast)"><b>show the detail and demo</b></button>

                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

